html {
  body {
    margin-top: 50px;

    .analyzer {
      min-height: 200px;
    }

    .word {
      display: inline-block;
      font-size: 2em;
      padding-right: 5px;
    }

    .btn-lg {
      font-size: 2.5em;
    }
  }
}
